frontend/railways/src/app/dashboard/icons
frontend/railways/src/app/dashboard/plugins
frontend/railways/src/app/icons
frontend/railways/src/app/images
frontend/railways/src/app/plugins
backend/node_modules