
<div class="Content">

    <!-- <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div> -->
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="#" method="post">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-empid">Employee ID <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="employeeForm.value.emp_id" type="number" class="form-control" id="val-empid" name="val-empid" placeholder="Enter the ID of the employee to be updated">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-empname">Employee Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="employeeForm.value.emp_name" type="text" class="form-control" id="val-empname" name="val-empname" placeholder="Updated name of the Employee">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-age">Age<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="employeeForm.value.age" type="number" class="form-control" id="val-age" name="val-age" placeholder="Age of the employee">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-profession">Profession <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="employeeForm.value.profession" type="text" class="form-control" id="val-profession" name="val-profession" placeholder="Updated profession of the employee">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-salary">Salary <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="employeeForm.value.salary" type="number" class="form-control" id="val-salary" name="val-salary" placeholder="Updated salary of the employee">
                                    </div>
                                </div>
                                
                                
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="employeeForm.value.emp_name == '' || employeeForm.value.age == '' || employeeForm.value.profession == '' || employeeForm.value.salary == '' || employeeForm.value.emp_id == undefined ">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

