
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="#" method="post">
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="val-del">Engine ID <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <input [(ngModel)]="engineForm.value.engine_id" type="number" class="form-control" id="val-del" name="val-del" placeholder="Enter the engine ID to be deleted">
                                </div>
                            </div>
                            
                            
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="!engineForm.value.engine_id">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
