
<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addtrain">Add Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/deltrain">Delete Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updatetrain">Update Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addstation">Add station</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/delstation">Delete Station</button>
</div>