
<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addtrain">Add Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/deltrain">Delete Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updatetrain">Update Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addstation">Add station</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/delstation">Delete Station</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updatestation">Update Station</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addcoach">Add Coach</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/delcoach">Delete Coach</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updatecoach">Update Coach</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addengine">Add Engine</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/delengine">Delete Engine</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updateengine">Update Engine</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addemployee">Add employee</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/delemployee">Remove employee</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updateemployee">Update employee</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addtrcomp">Add details of train</button>
</div>