
<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addtrain">Add a Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/deltrain">Delete a Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/updatetrain">Update a Train</button>
</div>

<div class="general-button">
    <button type="button" class="btn mb-1 btn-primary" routerLink="/addstation">Update a Train</button>
</div>