
<div class="Content">

    <!-- <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div> -->
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="#" method="post">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-coachid">Coach ID <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="coachForm.value.coach_id" type="number" class="form-control" id="val-coachid" name="val-coachid" placeholder="Enter the coach ID to be added">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-totalseats">Total Seats <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="coachForm.value.total_seats" type="number" class="form-control" id="val-totalseats" name="val-totalseats" placeholder="Number of seats in the coach">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-coachmodel">Coach Model
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="coachForm.value.coach_model" type="text" class="form-control" id="val-coachmodel" name="val-coachmodel" placeholder="Model of the coach">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-type">Coach Type
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="coachForm.value.coach_type" type="text" class="form-control" id="val-type" name="val-type" placeholder="Type of the coach">
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-type">Train Type
                                    </label>
                                    <div class="col-lg-6">
                                        <input [(ngModel)]="trainForm.value.tr_type" class="form-control" id="val-type" name="val-type" placeholder="weekly or daily or special">
                                    </div>
                                </div>-->
                                
                                
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="coachForm.value.coach_id == undefined || coachForm.value.total_seats == undefined ">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

